In [9]:
from linearmodels import PanelOLS
import pandas as pd

In [10]:
feature_dir = 'data/features/'

In [67]:
df_twitter = pd.read_csv(feature_dir+'twitter_features.csv', parse_dates=['Date'])
df_news = pd.read_csv(feature_dir+'news_features.csv', parse_dates=['Date'])
df_out= pd.read_csv(feature_dir+'stock_features.csv', parse_dates=['Date'])

In [68]:
df = pd.merge(df_out, df_twitter, how='left', on='Date')
df = pd.merge(df, df_news, how='left', on='Date')

In [82]:
df = df.fillna(0)

In [83]:
df

,Date,Change,Lag 2 Change,Lag 2 Significant,stock,BarackObama_sentiment_score,BarackObama_heuristic_score,cnnbrk_sentiment_score,cnnbrk_heuristic_score,KimKardashian_sentiment_score,KimKardashian_heuristic_score,New York Times_sentiment_score,CNN_sentiment_score,Washington Post_sentiment_score
0,2015-01-02,-0.012675,-0.043541,-1,AAPL,0.0000,0.000000,0.0000,0.000000,0.0000,0.000000,0.0000,-4.2102,0.0000
1,2015-01-05,-0.027830,-0.010066,-1,AAPL,1.2205,9.206268,0.0000,0.000000,0.0000,0.000000,0.0000,-1.4093,0.0000
2,2015-01-06,-0.016160,0.025249,1,AAPL,0.6436,7.880455,0.0000,0.000000,4.0653,37.652221,0.0000,1.0081,0.0000
3,2015-01-07,0.006195,0.051026,1,AAPL,5.6336,40.112804,0.0000,0.000000,0.9154,8.877281,0.0000,-0.9171,0.0000
4,2015-01-08,0.018937,0.030852,1,AAPL,1.1121,9.476567,0.0000,0.000000,1.7150,16.294419,0.0000,-2.5206,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,2016-12-23,-0.006109,-0.000788,0,MSFT,0.0000,0.000000,-3.5000,-22.894771,0.0000,0.000000,0.3667,-3.5821,-2.9205
1508,2016-12-27,-0.003783,-0.005537,0,MSFT,0.0000,0.000000,-1.1141,-7.601923,0.0000,0.000000,-0.9913,-3.0340,-0.1172
1509,2016-12-28,0.003006,-0.006940,0,MSFT,0.0000,0.000000,-1.7633,-11.564171,0.0000,0.000000,2.9580,-1.1407,-1.7274
1510,2016-12-29,-0.008517,-0.001114,0,MSFT,0.0000,0.000000,-0.2428,-1.812420,0.0000,0.000000,0.9901,-0.4297,-0.2822
1511,2016-12-30,0.001591,-0.007624,0,MSFT,0.0000,0.000000,-1.9998,-12.274164,0.0000,0.000000,0.1050,-4.0117,0.6944

In [84]:
data = df.set_index(['Date'])
data = df.reset_index().set_index(['stock','Date'])
# data = df.reset_index().set_index(['Date'])

In [92]:
data.max()

index                              1511.000000
Change                                0.171182
Lag 2 Change                          0.166549
Lag 2 Significant                     1.000000
BarackObama_sentiment_score          11.933600
BarackObama_heuristic_score          94.497422
cnnbrk_sentiment_score                1.855300
cnnbrk_heuristic_score               13.771418
KimKardashian_sentiment_score        10.251000
KimKardashian_heuristic_score        82.932362
New York Times_sentiment_score        4.164400
CNN_sentiment_score                   2.271300
Washington Post_sentiment_score       3.682200
dtype: float64

In [85]:
data

                  index    Change  Lag 2 Change  Lag 2 Significant  \
stock Date
AAPL  2015-01-02      0 -0.012675     -0.043541                 -1
      2015-01-05      1 -0.027830     -0.010066                 -1
      2015-01-06      2 -0.016160      0.025249                  1
      2015-01-07      3  0.006195      0.051026                  1
      2015-01-08      4  0.018937      0.030852                  1
...                 ...       ...           ...                ...
MSFT  2016-12-23   1507 -0.006109     -0.000788                  0
      2016-12-27   1508 -0.003783     -0.005537                  0
      2016-12-28   1509  0.003006     -0.006940                  0
      2016-12-29   1510 -0.008517     -0.001114                  0
      2016-12-30   1511  0.001591     -0.007624                  0

                  BarackObama_sentiment_score  BarackObama_heuristic_score  \
stock Date
AAPL  2015-01-02                       0.0000                     0.000000
      2015-01-05                       1.2205                     9.206268
      2015-01-06                       0.6436                     7.880455
      2015-01-07                       5.6336                    40.112804
      2015-01-08                       1.1121                     9.476567
...                                       ...                          ...
MSFT  2016-12-23                       0.0000                     0.000000
      2016-12-27                       0.0000                     0.000000
      2016-12-28                       0.0000                     0.000000
      2016-12-29                       0.0000                     0.000000
      2016-12-30                       0.0000                     0.000000

                  cnnbrk_sentiment_score  cnnbrk_heuristic_score  \
stock Date
AAPL  2015-01-02                  0.0000                0.000000
      2015-01-05                  0.0000                0.000000
      2015-01-06                  0.0000                0.000000
      2015-01-07                  0.0000                0.000000
      2015-01-08                  0.0000                0.000000
...                                  ...                     ...
MSFT  2016-12-23                 -3.5000              -22.894771
      2016-12-27                 -1.1141               -7.601923
      2016-12-28                 -1.7633              -11.564171
      2016-12-29                 -0.2428               -1.812420
      2016-12-30                 -1.9998              -12.274164

                  KimKardashian_sentiment_score  \
stock Date
AAPL  2015-01-02                         0.0000
      2015-01-05                         0.0000
      2015-01-06                         4.0653
      2015-01-07                         0.9154
      2015-01-08                         1.7150
...                                         ...
MSFT  2016-12-23                         0.0000
      2016-12-27                         0.0000
      2016-12-28                         0.0000
      2016-12-29                         0.0000
      2016-12-30                         0.0000

                  KimKardashian_heuristic_score  \
stock Date
AAPL  2015-01-02                       0.000000
      2015-01-05                       0.000000
      2015-01-06                      37.652221
      2015-01-07                       8.877281
      2015-01-08                      16.294419
...                                         ...
MSFT  2016-12-23                       0.000000
      2016-12-27                       0.000000
      2016-12-28                       0.000000
      2016-12-29                       0.000000
      2016-12-30                       0.000000

                  New York Times_sentiment_score  CNN_sentiment_score  \
stock Date
AAPL  2015-01-02                          0.0000              -4.2102
      2015-01-05                          0.0000              -1.4093
      2015-01-06                          0.0000               1.0081
      2015-01-07                          0.0000              -0.9171
      2015-01-08                          0.0000              -2.5206
...                                          ...                  ...
MSFT  2016-12-23                          0.3667              -3.5821
      2016-12-27                         -0.9913              -3.0340
      2016-12-28                          2.9580              -1.1407
      2016-12-29                          0.9901              -0.4297
      2016-12-30                          0.1050              -4.0117

                  Washington Post_sentiment_score
stock Date
AAPL  2015-01-02                           0.0000
      2015-01-05                           0.0000
      2015-01-06                           0.0000
      2015-01-07                           0.0000
      2015-01-08                           0.0000
...                                           ...
MSFT  2016-12-23                          -2.9205
      2016-12-27                          -0.1172
      2016-12-28                          -1.7274
      2016-12-29                          -0.2822
      2016-12-30                           0.6944

[1512 rows x 13 columns]

In [86]:
data_exog = data[['New York Times_sentiment_score','CNN_sentiment_score', 'Washington Post_sentiment_score']]

In [87]:
data_exog

                  New York Times_sentiment_score  CNN_sentiment_score  \
stock Date
AAPL  2015-01-02                          0.0000              -4.2102
      2015-01-05                          0.0000              -1.4093
      2015-01-06                          0.0000               1.0081
      2015-01-07                          0.0000              -0.9171
      2015-01-08                          0.0000              -2.5206
...                                          ...                  ...
MSFT  2016-12-23                          0.3667              -3.5821
      2016-12-27                         -0.9913              -3.0340
      2016-12-28                          2.9580              -1.1407
      2016-12-29                          0.9901              -0.4297
      2016-12-30                          0.1050              -4.0117

                  Washington Post_sentiment_score
stock Date
AAPL  2015-01-02                           0.0000
      2015-01-05                           0.0000
      2015-01-06                           0.0000
      2015-01-07                           0.0000
      2015-01-08                           0.0000
...                                           ...
MSFT  2016-12-23                          -2.9205
      2016-12-27                          -0.1172
      2016-12-28                          -1.7274
      2016-12-29                          -0.2822
      2016-12-30                           0.6944

[1512 rows x 3 columns]

In [88]:
data_dependent = data['Change']

In [89]:
data_dependent

stock  Date
AAPL   2015-01-02   -0.012675
       2015-01-05   -0.027830
       2015-01-06   -0.016160
       2015-01-07    0.006195
       2015-01-08    0.018937
                       ...
MSFT   2016-12-23   -0.006109
       2016-12-27   -0.003783
       2016-12-28    0.003006
       2016-12-29   -0.008517
       2016-12-30    0.001591
Name: Change, Length: 1512, dtype: float64

In [90]:
model = PanelOLS(data['Change'],data_exog,entity_effects=True, time_effects=True)

In [91]:
res = model.fit()

In [81]:
res

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 Change   R-squared:                        0.0000
Estimator:                   PanelOLS   R-squared (Between):             -53.104
No. Observations:                 441   R-squared (Within):              -0.2466
Date:                Tue, Dec 10 2019   R-squared (Overall):             -0.8575
Time:                        12:11:52   Log-likelihood                    1591.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      0.0000
Entities:                           3   P-value                           1.0000
Avg Obs:                       147.00   Distribution:                   F(3,289)
Min Obs:                       147.00
Max Obs:                       147.00   F-statistic (robust):          2.597e-31
                                        P-value                           1.0000
Time periods:                     147   Distribution:                   F(3,289)
Avg Obs:                       3.0000
Min Obs:                       3.0000
Max Obs:                       3.0000

                                        Parameter Estimates
===================================================================================================
                                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------------------------
New York Times_sentiment_score      0.0012  3.126e+12  3.892e-16     1.0000  -6.153e+12   6.153e+12
CNN_sentiment_score                 0.0022  3.503e+12  6.354e-16     1.0000  -6.895e+12   6.895e+12
Washington Post_sentiment_score     0.0009  2.044e+12  4.281e-16     1.0000  -4.023e+12   4.023e+12
===================================================================================================

F-test for Poolability: 3.7136
P-value: 0.0000
Distribution: F(148,289)

Included effects: Entity, Time
PanelEffectsResults, id: 0x11fca5978

In [93]:
mod = PanelOLS(data.invest, data[['value','capital']], entity_effects=True)
res = mod.fit(cov_type='clustered', cluster_entity=True)

AttributeError: 'DataFrame' object has no attribute 'invest'